import numpy as np
dados_salario = [2000, 2500, 3000, 3500, 4000, 30000]

media = np.mean(dados_salario)

mediana = np.median(dados_salario)

print('Média: ', media)

print('Mediana: ', mediana)

In [ ]:
import numpy as np
dados_salario = [2000, 2500, 3000, 3500, 4000, 30000]

media = np.mean(dados_salario)
mediana = np.median(dados_salario)
print('Média: ', media)
print('Mediana: ', mediana)

In [ ]:
import numpy as np
dados_salario = [2000, 2500, 3000, 3500, 4000, 30000]

media = np.mean(dados_salario)
print('Média: ', media)

In [ ]:
import numpy as np
dados_salario = [2000, 2500, 3000, 3500, 4000, 30000]

mediana = np.median(dados_salario)
print('Mediana: ', mediana)